*{
    margin: 0;
    padding: 0;
    color: #BF936B ;
}
body {
    background-color: #1e1c1a;
  }
.navbar{
    color: #BF936B;
}
.hero {
    background: url(../public/img/header.png) ;
    color: #BF936B;
    padding: 100px 20px;
    background-position: center;
    text-align: left;
  }
  .dark-overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 50px;
    border-radius: 15px;
  }
  .navbar-brand img {
    height: 40px;
  }
.text{
    color: #E1D3BD;
}
  .product-card {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
  }
  .product-card h5 {
    font-weight: bold;
  }
  .product-card .btn {
    background-color: #2B2825;
    color: #BF936B;
    border: 1px solid #d4c18a;
    border-radius: 0;
  }
  .bonus-banner {
    background: url(../img/fon-bg.png) ;
    padding: 80px 20px;
    text-align: left;
    background-position: center;
    color: #BF936B;
  }
  .bonus-banner .btn {
    background-color: #2B2825;
    border: 1px solid #d4c18a;
    color: #BF936B;
  }
  .filter-sidebar {
    background-color: #2a2725;
    padding: 20px;
    border-radius: 10px;
  }
  .filter-sidebar .form-check-label,
  .filter-sidebar label {
    color: #fff;
  }
  .product-card {
    background-color: #2a2725;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
  }
  .product-card img {
    width: 100%;
    border-radius: 8px;
  }
  .product-card .btn {
    background-color: transparent;
    color: white;
    border: 1px solid #d4c18a;
  }
  .dropdown-menu {
    background-color: #2a2725;
    color: white;
  }
  .pagination .page-link {
    background-color: #2a2725;
    color: white;
    border: 1px solid #d4c18a;
  }
  .dropdown-toggle {
    background-color: #2a2725;
    border: 1px solid #d4c18a;
    color: white;
  }
